server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/loja
    username: loja_user
    password: loja_pass

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
